# --- Terraform Specific ---
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# --- License and legal (optional: only if you dynamically generate or ignore legal files) ---
LICENSE
LICENSE.*
COPYING
COPYING.*
NOTICE
NOTICE.*

# python code.
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.env
.venv
venv/
ENV/
